<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="content">
        <ul class="nav">
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
        </ul>

        <img id="foto" src="https://udemy-images.udemy.com/course/750x422/505208_2307_4.jpg" alt="foto">
        <div class="main">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
        <div class="main">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
        <div class="right">
            <p>Rebuilding slack.com</p>
            <p>Zasto bootcamp format?</p>
            <p>React - prozor u svet web aplikacije</p>
            <p>Najvece zablude o programerima u Srbiji</p>
        </div>
        <div id="clear-left">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
        <div class="main">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
        <div class="main">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
        <div class="main">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
        <div class="main">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
        <div class="main">
            <img src="http://via.placeholder.com/300x200" alt="foto1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi labore eveniet pariatur. Soluta error
                impedit accusantium aperiam modi vero earum ad nam optio iusto labore, sed esse quaerat assumenda!</p>
        </div>
    </div>
    <div class="footer">
        <ul>
            <li>© BitStudent</li>
        </ul>
    </div>
</body>

</html>