<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./liquid.css">
</head>

<body>
    <div class="container">
        <header>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Liliumbulbiferumflowertop.jpg/220px-Liliumbulbiferumflowertop.jpg"
                alt="slika">
            <div>
                <h1>Howerd Alexander</h1>
                <p>Designer at BitLayouts</p>
            </div>
        </header>

        <main>
            <section class="left">
                <article>
                    <h2>About</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit iure rerum dolores nam ad
                        perferendis
                        molestiae recusandae officiis dolor optio minima beatae deleniti voluptatem fugiat, et neque!
                        Aliquam, odio
                        praesentium!
                        Libero, aspernatur ratione. Officia perspiciatis ea minima provident molestias dignissimos quos
                        eos
                        odit
                        ipsa impedit, reprehenderit sit doloremque laudantium inventore porro rem sunt neque voluptates
                        necessitatibus iusto itaque quisquam! Magni?
                        Soluta obcaecati repudiandae magni praesentium cum ipsam, itaque inventore dolorem unde amet
                        nulla
                        rem,
                        repellat cumque animi fuga id qui labore. Eligendi delectus eius aliquam veniam consectetur.
                        Qui,
                        recusandae dolor?
                        Molestiae delectus earum illo quas. Exercitationem recusandae, molestiae excepturi, quibusdam
                        quasi
                        aliquam
                        fuga sed necessitatibus eaque odit optio voluptatibus ratione cum a laboriosam! Numquam eaque
                        illo
                        error
                        non a aperiam.
                        Suscipit quasi rem commodi velit id. Quae nemo expedita omnis! Harum obcaecati at error,
                        provident
                        fuga
                        ratione quasi porro delectus temporibus omnis totam necessitatibus ad quae consequatur
                        perferendis
                        qui
                        cupiditate.</p>
                </article>
            </section>
            <section class="right">
                <article>
                    <h2>Post No2</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore nesciunt neque iusto id nobis,
                        quod, a
                        optio quaerat omnis esse quidem ab molestias aut possimus et excepturi fugiat dicta! Tempora.
                        Quas blanditiis, expedita repellat, pariatur dolorem quasi obcaecati, provident voluptates
                        alias
                        similique autem in harum porro ab accusamus dolore consequuntur sint quam incidunt molestias.
                        Fugit
                        eos
                        inventore pariatur incidunt repellendus?
                        Mollitia vel dicta facilis commodi consectetur! Alias deserunt dignissimos excepturi architecto
                        velit
                        nihil! Ratione nostrum possimus aspernatur numquam fugit dignissimos esse ad facere ea vitae!
                        Explicabo
                        quaerat libero accusamus laboriosam.</p>
                </article>
                <article>

                    <h2>Post No1</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore nesciunt neque iusto id nobis,
                        quod, a
                        optio quaerat omnis esse quidem ab molestias aut possimus et excepturi fugiat dicta! Tempora.
                        Quas blanditiis, expedita repellat, pariatur dolorem quasi obcaecati, provident voluptates
                        alias
                        similique autem in harum porro ab accusamus dolore consequuntur sint quam incidunt molestias.
                        Fugit
                        eos
                        inventore pariatur incidunt repellendus?
                        Mollitia vel dicta facilis commodi consectetur! Alias deserunt dignissimos excepturi architecto
                        velit
                        nihil! Ratione nostrum possimus aspernatur numquam fugit dignissimos esse ad facere ea vitae!
                        Explicabo
                        quaerat libero accusamus laboriosam.</p>

                </article>
            </section>

        </main>
    </div>

</body>

</html>