.body {
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    justify-content: space-around;
}

.one {
    background: plum;
    flex: 1;
}

.two {
    background: powderblue;
    flex: 1;
}

.four {
    background: pink;
    flex: 1;
}

.visnjica {
    background: peru;
    flex: 1;
}

.five {
    background: palegoldenrod;
    flex: 1;
}

.six {
    background: orangered;
    flex: 1;
}